@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,700");
html { text-align: center; font-family: 'Titillium Web', sans-serif; }

.menu-container { margin: 100px auto; width: auto; text-align: center; display: -ms-flexbox; display: flex; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.menu-icon span { position: relative; display: block; width: 50px; height: 8px; background: #FF0061; border-radius: 2px; margin-bottom: 5px; transition: transform 0.4s ease-in-out, height 0.4s ease-in-out; }

.opened span { background: blue; transition: transform 0.4s ease-in-out,  height 0s ease-in-out; }

.opened span:nth-child(1) { transform: rotate(-45deg); top: 12px; }

.opened span:nth-child(2) { transform: scale(0); height: 0; }

.opened span:nth-child(3) { transform: rotate(45deg); }

.menu-navi { display: inline-block; margin-left: 35px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }

.menu-navi ul { text-align: left; }

.menu-navi ul li { display: block; }

.menu-navi ul li a { font-weight: 700; text-transform: uppercase; text-decoration: none; font-size: 40px; line-height: 50px; position: relative; transition: margin .4s; color: #FF0061; }

.menu-navi ul li a:after { content: ""; height: 5px; width: 0; background: blue; position: absolute; bottom: 5px; left: 0; right: 0; transition: width 0.4s ease-in-out; }

.menu-navi li a:hover:after { width: 100%; }

.opened .menu-navi { width: 250px; transition: width 0.5s ease-in-out; }
