@charset "UTF-8";
/* grids */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,700");
.row:before, .row:after { content: ""; display: table; clear: both; }

/*GRID WSZYSTKIE URZĄDZENIA*/
@media (max-width: 767px), (min-width: 767px) and (max-width: 991px), (min-width: 992px) and (max-width: 1223px), only screen and (min-width: 1224px), only screen and (min-width: 1824px) { [class*="col-"] { float: left; min-height: 250px; padding: 0px; }
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 17%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 40.00%; background-color: black; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 80.00%; background-color: black; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }
  .col-13 { width: 26.66%; background-color: black; }
  .col-14 { width: 20%; background-color: black; }
  .col-15 { width: 60%; background-color: black; } }

@media only screen and (min-width: 1224px) { .menu-navi ul li a { line-height: 56px; }
  .menu-container { margin: 30px 0px 0px 130px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; } }

.menu-icon span { position: relative; display: block; width: 49px; height: 5.5px; background: black; border-radius: 2px; margin-bottom: 5px; transition: transform 0.4s ease-in-out, height 0.4s ease-in-out; }

.opened span { background: black; transition: transform 0.4s ease-in-out,  height 0s ease-in-out; }

.opened span:nth-child(1) { transform: rotate(-45deg); top: 12px; }

.opened span:nth-child(2) { transform: scale(0); height: 0; }

.opened span:nth-child(3) { transform: rotate(45deg); }

.menu-navi { display: inline-block; margin: 35px 0px 0px -15px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }

.menu-navi ul { text-align: left; }

.menu-navi ul li { display: block; }

.menu-navi ul li a { font-weight: 700; text-transform: uppercase; text-decoration: none; font-size: 30px; line-height: 70px; position: relative; transition: margin .4s; color: black; }

.menu-navi li a:hover { text-decoration: line-through; }

.opened .menu-navi { width: 150px; transition: width 0.5s ease-in-out; }

.menu-navi { display: inline-block; margin: 35px 0px 0px -25px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }

@media (max-width: 767px) { .menu-container { margin: 18px 0px 0px 20px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; }
  .menu-navi ul li a { font-size: 12.5px; line-height: 43px; font-weight: bold; }
  .menu-navi { display: inline-block; margin: 35px 0px 0px -18.5px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
  .menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; } }

@media (min-width: 767px) and (max-width: 991px) { .menu-container { margin: 30px 0px 0px 80px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; }
  .menu-navi ul li a { font-size: 30px; line-height: 78px; font-weight: bold; }
  .menu-navi { display: inline-block; margin: 35px 0px 0px -75px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
  .menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; } }

@media (min-width: 992px) and (max-width: 1199px) { .menu-container { margin: 18px 0px 0px 90px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; }
  .menu-navi ul li a { font-size: 12.5px; line-height: 43px; font-weight: bold; }
  .menu-navi { display: inline-block; margin: 35px 0px 0px -18.5px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
  .menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; } }

@media (min-width: 992px) and (max-width: 1199px) { .menu-container { margin: 18px 0px 0px 20px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; }
  .menu-navi ul li a { font-size: 12.5px; line-height: 43px; font-weight: bold; }
  .menu-navi { display: inline-block; margin: 35px 0px 0px -18.5px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
  .menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; } }

@media only screen and (min-width: 1824px) { .menu-container { margin: 30px 0px 0px 180px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; } }

*, *:before, *:after { box-sizing: border-box; }

/*MOUSE SCROLL MONITOR*/
.mouse_scroll { display: block; margin: 0 auto; width: 24px; height: 100px; margin: 350px 0px 0px 195px; position: fixed; }

/*KONIEC MOUSE SCROLL MONITOR*/
/*MOUSE SCROLL LAPTOP*/
@media only screen and (min-width: 1224px) { .mouse_scroll { display: block; margin: 0 auto; width: 24px; height: 100px; margin: 295px 0px 0px 140px; position: fixed; } }

@media (max-width: 767px) { .mouse_scroll { display: block; margin: 0 auto; width: 24px; height: 100px; margin: 900px 0px 0px 90px; position: fixed; } }

/*KONIEC MOUSE SCROLL MOBILE-PIONOWO*/
@media (min-width: 767px) and (max-width: 991px) { .mouse_scroll { display: block; margin: 0 auto; width: 24px; height: 100px; margin: 140px 0px 0px 55px; position: fixed; } }

@media (min-width: 992px) and (max-width: 1199px) { .mouse_scroll { display: block; margin: 0 auto; width: 24px; height: 100px; margin: 450px 0px 0px 60px; position: fixed; } }

/*KONIEC MOUSE SCROLL TABLET LANDSCAPE*/
.m_scroll_arrows { display: block; width: 5px; height: 5px; /* IE 9 */ /* Chrome, Safari, Opera */ transform: rotate(45deg); border-right: 2px solid black; border-bottom: 2px solid black; margin: 0 0 3px 4px; width: 16px; height: 16px; }

.unu { margin-top: 1px; }

.unu, .doi, .trei { -webkit-animation: mouse-scroll 1s infinite; -moz-animation: mouse-scroll 1s infinite; }

.unu { -webkit-animation-delay: .1s; -moz-animation-delay: .1s; -webkit-animation-direction: alternate; }

.doi { -webkit-animation-delay: .2s; -moz-animation-delay: .2s; -webkit-animation-direction: alternate; margin-top: -6px; }

.trei { -webkit-animation-delay: .3s; -moz-animation-delay: .3s; -webkit-animation-direction: alternate; margin-top: -6px; }

.mouse { height: 42px; width: 24px; border-radius: 14px; transform: none; border: 2px solid black; top: 170px; }

.wheel { height: 5px; width: 2px; display: block; margin: 5px auto; background: black; position: relative; height: 4px; width: 4px; border: 2px solid black; border-radius: 8px; }

.wheel { -webkit-animation: mouse-wheel 0.6s linear infinite; -moz-animation: mouse-wheel 0.6s linear infinite; }

@keyframes mouse-scroll { 0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; } }

@media only screen and (min-width: 1824px) { .mouse_scroll { display: block; width: 24px; height: 100px; margin: 580px 0px 0px 190px; position: fixed; } }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) { .col-8 > .banner { width: 520px; height: 290px; float: left; margin: 115px 0px 0px 100px; }
  .col-8 > .logo { float: left; width: 125px; height: 115px; margin: 55px 0px 0px 130px; } }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) { .col-8 > .banner { width: 600px; height: 330px; float: left; margin: 265px 0px 0px 130px; }
  .col-8 > .logo { float: left; width: 115px; height: 100px; margin: 50px 0px 0px 140px; } }

@media (min-width: 992px) and (max-width: 1223px) { .col-8 > .banner { width: 520px; height: 270px; float: left; margin: 45px 0px 0px 100px; }
  .col-8 > .logo { float: left; width: 115px; height: 100px; margin: 55px 0px 0px 130px; } }

@media (min-width: 767px) and (max-width: 991px) { .col-8 > .banner { width: 550px; height: 320px; float: left; margin: 500px 0px 0px 30px; }
  .col-8 > .logo { float: left; width: 150px; height: 140px; margin: 75px 0px 0px 30px; } }

@media (max-width: 767px) { .col-8 > .banner { width: 257px; height: 165px; float: left; margin: 10px 0px 0px 0px; }
  .col-8 > .logo { float: left; width: 90px; height: 78px; margin: 10px 0px 0px 50px; } }

@media only screen and (min-width: 1224px) { .paragraf-about-me { color: white; text-align: left; font-variant-caps: small-caps; font-size: 24px; position: relative; bottom: 150px; padding: 20px 0px 30px 55px; }
  .header-about-me { color: white; font-size: 160px; text-decoration: line-through; padding: 300px 0px 0px 0px; letter-spacing: 12px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .me-mobile { display: none; }
  .me { position: relative; bottom: 580px; left: 435px; width: 99%; }
  .mobile-photo { display: none; }
  .header-before-paragraf > p { color: white; text-align: left; margin: 10px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .what-i-am { color: white; font-variant-caps: small-caps; font-weight: bold; margin-left: 55px; }
  .what-i-do { color: white; font-variant-caps: small-caps; font-weight: bold; text-align: left; margin-left: 50px; }
  .what-i-am-paragraf { font-size: 24px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; bottom: 120px; margin-left: 55px; height: 25vw; }
  .what-i-do-paragraf { font-size: 24px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; bottom: 120px; margin-left: 55px; }
  .section-what-i-am { margin: 0 auto; font-size: 40px; font-variant-caps: small-caps; position: relative; text-align: left; }
  .section-what-i-am > .row > .col-5 > h1 { text-align: left; }
  .section-photo { position: absolute; }
  .xxx { color: white; text-align: left; font-size: 20px; line-height: 34px; margin-left: 55px; }
  .xxx > a { color: white; text-decoration: none; }
  .xxx > h1 { font-weight: bold; }
  .header { color: white; text-align: left; margin: 40px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .section-contact { position: relative; bottom: 320px; }
  .header-contact { color: white; font-size: 140px; text-decoration: line-through; padding: 125px 0px 0px 0px; letter-spacing: 12px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .what { font-size: 19px; color: #4d4d4d; }
  .what-i { text-decoration: line-through; font-size: 70px; } }

@media only screen and (min-width: 1824px) { .paragraf-about-me { color: white; text-align: left; font-variant-caps: small-caps; font-size: 24px; position: relative; bottom: 150px; padding: 200px 0px 30px 55px; }
  .header-about-me { color: white; font-size: 160px; text-decoration: line-through; padding: 330px 0px 0px 0px; letter-spacing: 12px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .me-mobile { display: none; }
  .me { position: relative; bottom: 580px; left: 435px; width: 99%; }
  .mobile-photo { display: none; }
  .header-before-paragraf > p { color: white; text-align: left; margin: 310px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .what-i-am { color: white; font-variant-caps: small-caps; font-weight: bold; margin-left: 55px; }
  .what-i-do { color: white; font-variant-caps: small-caps; font-weight: bold; text-align: left; margin-left: 50px; }
  .what-i-am-paragraf { font-size: 24px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; bottom: 100px; margin-left: 55px; }
  .what-i-do-paragraf { font-size: 24px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; bottom: 100px; margin-left: 55px; }
  .section-what-i-am { margin: 0 auto; font-size: 40px; font-variant-caps: small-caps; position: relative; text-align: left; }
  .section-what-i-am > .row > .col-5 > h1 { text-align: left; }
  .section-photo { position: absolute; }
  .xxx { color: white; text-align: left; font-size: 20px; line-height: 36px; margin-left: 55px; }
  .xxx > a { color: white; text-decoration: none; }
  .xxx > h1 { font-weight: bold; }
  .header { color: white; text-align: left; margin: 170px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .section-contact { position: relative; bottom: 320px; }
  .header-contact { color: white; font-size: 160px; text-decoration: line-through; padding: 200px 0px 110px 0px; letter-spacing: 12px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .what { font-size: 19px; color: #4d4d4d; }
  .what-i { text-decoration: line-through; font-size: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) { .paragraf-about-me { color: white; text-align: left; font-variant-caps: small-caps; font-size: 17px; position: relative; margin-top: -35px; margin-left: 10px; }
  .header-about-me { color: white; font-size: 45px; text-decoration: line-through; padding: 180px 0px 0px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .me-mobile { position: relative; top: 200px; right: 35px; width: 99%; }
  .me { display: none; }
  .mobile-photo { display: none; }
  .header-before-paragraf > p { color: white; text-align: left; margin: 150px 0px 0px 10px; font-size: 25.5px; font-variant-caps: small-caps; }
  .what-i-am { color: white; font-variant-caps: small-caps; font-weight: bold; margin-left: 10px; width: 150px; }
  .what-i-do { color: white; font-variant-caps: small-caps; font-weight: bold; text-align: left; margin-left: 60px; width: 150px; }
  .what-i-am-paragraf { font-size: 17px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 10px; bottom: 210px; width: 150px; }
  .what-i-do-paragraf { font-size: 17px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 60px; width: 150px; bottom: 210px; }
  .section-what-i-am { margin: 0 auto; font-size: 40px; font-variant-caps: small-caps; position: relative; text-align: left; bottom: 70px; }
  .section-what-i-am > .row > .col-5 > h1 { text-align: left; }
  .section-photo { position: absolute; }
  .xxx { color: white; text-align: left; font-size: 20px; line-height: 34px; margin-left: 10px; position: relative; }
  .xxx > a { color: white; text-decoration: none; }
  .xxx > h1 { font-weight: bold; }
  .header { color: white; text-align: left; margin: 0px 0px 0px 10px; font-size: 40px; font-variant-caps: small-caps; }
  .section-contact { position: relative; bottom: 320px; }
  .header-contact { color: white; font-size: 45px; text-decoration: line-through; padding: 50px 0px 0px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .what { font-size: 19px; color: #4d4d4d; }
  .what-i { text-decoration: line-through; font-size: 50px; } }

@media (min-width: 767px) and (max-width: 991px) { .paragraf-about-me { color: white; text-align: left; font-variant-caps: small-caps; font-size: 24px; position: relative; padding: 15px 0px 0px 55px; }
  .header-about-me { color: white; font-size: 140px; text-decoration: line-through; padding: 700px 0px 0px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .me-mobile { position: relative; top: 410px; right: 35px; width: 99%; }
  .me { display: none; }
  .mobile-photo { display: none; }
  .header-before-paragraf > p { color: white; text-align: left; margin: 280px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .what-i-am { color: white; font-variant-caps: small-caps; font-weight: bold; margin-left: 55px; width: 150px; }
  .what-i-do { color: white; font-variant-caps: small-caps; font-weight: bold; text-align: left; margin-left: 60px; width: 150px; }
  .what-i-am-paragraf { font-size: 19px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 55px; bottom: 130px; width: 150px; }
  .what-i-do-paragraf { font-size: 19px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 60px; width: 130px; bottom: 130px; }
  .section-what-i-am { margin: 0 auto; font-size: 40px; font-variant-caps: small-caps; position: relative; text-align: left; }
  .section-what-i-am > .row > .col-5 > h1 { text-align: left; }
  .section-photo { position: absolute; }
  .xxx { color: white; text-align: left; font-size: 20px; line-height: 34px; margin-left: 55px; position: relative; }
  .xxx > a { color: white; text-decoration: none; }
  .xxx > h1 { font-weight: bold; }
  .header { color: white; text-align: left; margin: 205px 0px 0px 55px; font-size: 40px; font-variant-caps: small-caps; }
  .section-contact { position: relative; bottom: 320px; }
  .header-contact { color: white; font-size: 140px; text-decoration: line-through; padding: 800px 0px 40px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .what { font-size: 19px; color: #4d4d4d; }
  .what-i { text-decoration: line-through; font-size: 70px; } }

@media (max-width: 415px) { .paragraf-about-me { color: white; text-align: left; font-variant-caps: small-caps; font-size: 17px; position: relative; margin-top: -35px; margin-left: 10px; }
  .header-about-me { color: white; font-size: 45px; text-decoration: line-through; padding: 180px 0px 0px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .me-mobile { position: relative; top: 200px; right: 35px; width: 99%; }
  .me { display: none; }
  .mobile-photo { display: none; }
  .header-before-paragraf > p { color: white; text-align: left; margin: 150px 0px 0px 10px; font-size: 25.5px; font-variant-caps: small-caps; }
  .what-i-am { color: white; font-variant-caps: small-caps; font-weight: bold; margin-left: 10px; width: 150px; }
  .what-i-do { color: white; font-variant-caps: small-caps; font-weight: bold; text-align: left; margin-left: 60px; width: 150px; }
  .what-i-am-paragraf { font-size: 17px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 10px; bottom: 210px; width: 150px; }
  .what-i-do-paragraf { font-size: 17px; font-variant-caps: small-caps; color: white; text-align: left; position: relative; margin-left: 60px; width: 150px; bottom: 210px; }
  .section-what-i-am { margin: 0 auto; font-size: 40px; font-variant-caps: small-caps; position: relative; text-align: left; bottom: 70px; }
  .section-what-i-am > .row > .col-5 > h1 { text-align: left; }
  .section-photo { position: absolute; }
  .xxx { color: white; text-align: left; font-size: 20px; line-height: 34px; margin-left: 10px; position: relative; }
  .xxx > a { color: white; text-decoration: none; }
  .xxx > h1 { font-weight: bold; }
  .header { color: white; text-align: left; margin: 0px 0px 0px 10px; font-size: 40px; font-variant-caps: small-caps; }
  .section-contact { position: relative; bottom: 320px; }
  .header-contact { color: white; font-size: 45px; text-decoration: line-through; padding: 50px 0px 0px 0px; letter-spacing: 5px; font-weight: bold; position: relative; margin: 0 auto; text-align: left; }
  .what { font-size: 19px; color: #4d4d4d; }
  .what-i { text-decoration: line-through; font-size: 50px; } }

html { text-align: center; font-family: 'Titillium Web', sans-serif; }

body { background: white; margin: 0 auto; height: 100vw; }
