/*STRONA GŁÓWNA MOBILE POZIOMO*/
 @media screen and (min-width: 600px) and (max-width: 800px) and (orientation:landscape) {

.col-8>.banner {
   width: 330px;
  height: 185px;
  float: left;
  margin: 20px 0px 0px 50px;
  }
.col-8>.logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 0px 0px 50px;
}
}
/*KONIEC STRONA GŁÓWNA MOBILE POZIOMO*/
/*STRONA GŁÓWNA MOBILE POZIOMO*/
 @media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation:landscape) {
 	.col-8>.banner {
   width: 500px;
  height: 250px;
  float: left;
margin: 45px 0px 0px 100px;
}
.col-8>.logo { 
  float: left;
  width: 115px;
  height: 100px;
  margin: 55px 0px 0px 130px;
}
}