@media(min-width: 767px) and (max-width: 991px){
.col-8>.banner {
width: 550px;
height: 320px;
float: left;
margin: 500px 0px 0px 30px;
}
.col-8>.logo {
float: left;
width: 150px;
height: 140px;
margin: 75px 0px 0px 30px;
}
}
