@media(min-width: 767px) and (max-width: 991px){
.col-8>.banner {
width: 520px;
height: 290px;
float: left;
margin: 115px 0px 0px 100px;
}
.col-8>.logo {
float: left;
width: 125px;
height: 115px;
margin: 55px 0px 0px 130px;
}
}
