@media(min-width: 992px) and (max-width: 1223px){
.col-8>.banner {
width: 550px;
height: 320px;
float: left;
margin: 500px 0px 0px 30px;
}
.col-8>.logo {
float: left;
width: 150px;
height: 140px;
margin: 75px 0px 0px 30px;
width: 520px;
height: 270px;
float: left;
margin: 45px 0px 0px 100px;
}
.col-8>.logo {
float: left;
width: 115px;
height: 100px;
margin: 55px 0px 0px 130px;
}
}
