/*STRONA GŁÓWNA MOBILE POZIOMO*/
@media screen and (orientation:landscape) and (max-width: 900px){
.col-8 {
width: 65.66%;
background-color: red;
height: 125px;
}
.col-8>.banner {
   width: 200px;
  height: 180px;
  float: left;
  margin: 0px 0px 0px 50px;
  }
.col-8>.logo {
  float: left;
  width: 100px;
  height: 80px;
  margin: 20px 0px 0px 55px;
}
}
/*KONIEC STRONA GŁÓWNA MOBILE POZIOMO*/