/*STRONA GŁÓWNA MOBILE POZIOMO*/
@media screen and (orientation:landscape) and (max-width: 991px){

.col-8>.banner {
   width: 250px;
  height: 200px;
  float: left;
  margin: 0px 0px 0px 50px;
  }
.col-8>.logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 20px 0px 0px 55px;
}
}
/*KONIEC STRONA GŁÓWNA MOBILE POZIOMO*/