/*STRONA GŁÓWNA MOBILE PIONOWO*/
@media screen and (orientation:portrait) and (max-width: 424px){
.col-8>.banner {
   width: 450px;
  height: 280px;
  float: left;
  padding: 1200px 0px 50px 35px;
  }
.col-8>.logo {
  float: left;
  width: 160px;
  height: 140px;
  margin: 75px 0px 0px 55px;
}
}
/*KONIEC STRONA GŁÓWNA MOBILE*/
