
/*STRONA GŁÓWNA TABLET*/
@media screen and (max-width: 991px){
.col-8>.banner {
   width: 396px;
  height: 230px;
  float: left;

}
.col-8>.logo {
  float: left;
  width: 100px;
  height: 80px;
  margin: 100px 0px 0px 30px;
}
}
/*KONIEC STRONA GŁÓWNA TABLET*/

/
