@media (max-width: 767px){
.paragraf-about-me {
color: white;
text-align: left;
font-variant-caps: small-caps;
font-size: 18px;
position: relative;
margin-top: -35px;
margin-left: 10px;
}
.text-about-me {
  color: white;
  font-size: 24px;
}
.header-about-me {
color: white;
font-size: 45px;
text-decoration: line-through;
padding: 0px 0px 0px 0px;
letter-spacing: 5px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.me-mobile {
     position: relative;
    
    right:35px;
    width: 99%;
}
.me {
display: none;
}
.mobile-photo {
	display: none;
}

.header-before-paragraf>p {
	color:white;
	text-align: left;
	margin: 150px 0px 0px 10px;
	font-size: 25.5px;
	font-variant-caps: small-caps;
}
.what-i-am {
	
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 10px;
    width: 150px;
}
.what-i-do {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 60px;
    width: 150px;
}
.what-i-am-paragraf {
	font-size: 17px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	margin-left: 10px;
	bottom: 210px;
	width: 150px;
}
.what-i-do-paragraf {
		font-size: 17px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	margin-left: 60px;
	width: 150px;
	bottom: 210px;
}
.section-what-i-am {
	margin: 0 auto;
	font-size: 40px;
	font-variant-caps: small-caps;
	position: relative;
	text-align: left;
	bottom: 70px;
}
.section-what-i-am>.row>.col-5>h1 {
	text-align: left;
}
.section-photo {
	position: absolute;
}
.xxx {
	color: white;
	text-align: left;
	font-size: 20px;
	line-height: 34px;
	margin-left: 10px;
	position: relative;

}
.xxx>a {
	color: white;
	text-decoration: none;
}
.xxx>h1 {
	font-weight: bold;
}
.header {
	color:white;
	text-align: left;
	margin: 0px 0px 0px 10px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.section-contact {
	position: relative;
	bottom: 320px;
}
.header-contact {
	color: white;
font-size: 45px;
text-decoration: line-through;
padding: 30px 0px 0px 0px;
letter-spacing: 5px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.what {
	font-size: 19px;
	color:  #4d4d4d;
}
.what-i {
	text-decoration: line-through;
	font-size: 50px;
}
}