/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.col-9>.banner {
width: 520px;
height: 290px;
float: left;
margin-top: 40px,
}
.col-9>.logo {
float: left;
width: 110px;
height: 100px;
margin-top: 40px;
}
}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.col-9>.banner {
width: 600px;
height: 330px;
float: left;
margin-top: 40px;
}
.col-9>.logo {
float: left;
width: 100px;
height: 85px;
margin-top: 40px;
}
}